.header {
  padding: 60px;
  /* text-align: center; */
  opacity: 0.80;
  background: palevioletred;
  width: auto;
  color: white;
  font-size: 60px;
  border: 2px black;
  border-radius: 15px;
  margin-top: 25%;
}

body {
  margin: 0;
  background: url("/static/back.png") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.arrow{
  cursor: pointer;
}
  br {
        line-height: 150%;
     }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #1746C2;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

button {
  color: black;
}

#box {
    padding: 30px;
  background: palevioletred;
  color: white;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  width: auto;
}

#box2 {
  padding: 20px;
  background: palevioletred;
  color: white;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 5%;
  width: auto;
}

#event_title {

}

#dates {

}

#code_name {

}

#creator {

}

#register {

  margin-top: 2%;
  margin-left: 2%;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic);


h1, button{
  color:#fff;
  text-align: center;
  padding: 20px;
}


a{
   text-decoration:none;
   color:#fff;
}

a:hover{
   color:#c13cd3;
}

.main{
  width: 100%;
}

.sub-main{
  width: 30%;
  margin:22px;
  float: left;
}

.button-one, .button-two, .button-three{
  text-align: center;
  cursor: pointer;
  font-size:24px;
  margin: 0 0 0 100px;
}



/*Button One*/
.button-one {
  padding:20px 60px;
  outline: none;
  background-color: #e157f3;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.button-one:hover{
  background-color: #2ecc71;
}

.button-one:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}

#wrap { 
  width: 900px; 
  margin: 0 auto; 
}

.hour{
  width: 100%;
  height: 20px;
  padding: 2px;
  background-color: gray;
  border: solid .5px  black;
}
.hour:nth-child(odd){
  border-bottom: solid 1px black;
}
.hour:nth-child(even){
  border-bottom: dotted .5px gray;
}
.column{
  display: inline-block;
  overflow: hidden;
  width: 100px;
}
.timelabel{
  width: 100%;
  height: 20px;
  padding: 2px;
}
.eventHolder{
  background-color: lightgray;
}
.hour.selected{
  background-color: green;
}
.eventHolder div{
  user-select: none;
}
#optimalTime{
  width: 49%;
  text-align: center;
  display: inline-block
}