#wrap { 
	width: 900px; 
	margin: 0 auto; 
}

.header {
  padding: 60px;
  /* text-align: center; */
  opacity: 0.70;
  background: palevioletred;
  width: auto;
  color: white;
  font-size: 60px;
  border: 2px black;
  border-radius: 15px;
  margin-top: 25%;
}

body {
  margin: 0;
  background: url("/static/back.png") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

  br {
        line-height: 150%;
     }

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #1746C2;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

#box {
  
}

#event_title {

}

#dates {

}

#code_name {

}

#creator {

}
