{% extends "main/base.html" %}

{% block content %}
<style>
.hour{
    width: 100%;
    height: 20px;
    padding: 2px;
    background-color: gray;
    border: solid .5px  black;
}
.column{
    display: inline-block;
    overflow: hidden;
    width: 100px;
}
.timelabel{
    width: 100%;
    height: 20px;
    padding: 2px;
}
.eventHolder{
    background-color: lightgray;
}
.hour.selected{
    background-color: green;
}
div{
    user-select: none;
}
</style>
<h2 style="width: 100%" align="center">Free Times</h2>
<div class="eventHolder">

</div>
<script>
function createTable(start_date=SELECTED_DATE, date_range=14, end_date=END_DATE){
    end_date.setDate(end_date.getDate()+date_range);
    
    function createCol(id){
        let colHolder = document.createElement("div");
        colHolder.setAttribute("class", "column")
        colHolder.setAttribute("style", "width: " + String(100/(date_range + 1)) + "%");
        colHolder.id = id;
        return colHolder;
    }
    function createHour(id){
        let hour = document.createElement("div");
        hour.id = id;
        hour.setAttribute("class", "hour")
        return hour;
    }
    function createDateLabel(time){
        var label = document.createElement("div");
        label.innerText= formatDate(time);
        label.setAttribute("class", "datelabel");
        return label;
    }
    function createTimeLabel(time){
        var label = document.createElement("div");
        label.innerText = formatTime(time);
        label.setAttribute("class", "timelabel");
        return label;
    }
    function staticTimeColumn(){
        var col = createCol(-1)
        col.setAttribute("style", "max-width: 80px; margin-bottom: 4px;")
        var time = datetimeToDate(new Date());
        for(var hour = 0; hour < 48; hour++){
            var timelabel = createTimeLabel(time);
            time.setMinutes(time.getMinutes() + 30);
            col.appendChild(timelabel);
        }
        return col;
    }
    var current_date = new Date(+start_date)
    var id = 0;
    var firstCol = staticTimeColumn()
    $(".eventHolder")[0].appendChild(firstCol);
    for(var day = 0; day < date_range; day++){
        var col = createCol(day);
        col.appendChild(createDateLabel(current_date));
       current_date.setDate(current_date.getDate()+1);
       
       $(".eventHolder")[0].appendChild(col);
       for(var hour = 0; hour < 48; hour++){
           col.appendChild(createHour(id));
           id++;
       }

    }
}
function loadDataIntoTable(start_date=SELECTED_DATE, end_date=END_DATE){
    getData("freeInterface", {"data_type" : "getFree", "start_date" : dateToPython(start_date), "end_date" : dateToPython(end_date)}).then(function(data){
        data = JSON.parse(data)
        $(".hour").removeClass("selected");
        for(let i = 0; i < data.length; i++){
            if(data[i] == 1){
                $("#" + String(i) + ".hour").addClass("selected");
            }
        }
    })
}
let SELECTED_DATE = datetimeToDate(new Date());
let END_DATE = new Date();
createTable(SELECTED_DATE);
loadDataIntoTable();

// $(".eventHolder").on("click", function(start){

//     $(".eventHolder").on("mousemove", function(movement){
//         console.log("MOVE", movement)
//     })
// })

let DRAGGING = false;
$(".eventHolder").mousedown(function(data){
    DRAGGING = data;
})

function massSelection(startx, endx, starty, endy, elementQuery){
    if(startx > endx){
        var temp = startx;
        startx = endx;
        endx = temp;
        
    }
    if(starty > endy){
        var temp = starty;
        starty = endy;
        endy = temp;
    }
    var selected = []
    for(var elem of $(elementQuery)){
        let x = $(elem).position().left;
        let y = $(elem).position().top;
        if(startx <= x && x <= endx && starty <= y && y <= endy){
            selected.push(elem);
        }

    }
    return selected;

}

$("*").mouseup(function(endpos){
    if(DRAGGING){
        let startpos = DRAGGING;
        DRAGGING = false;
        console.log("START DRAG", startpos.originalEvent)
        console.log("END DRAG", endpos)
        var startelem = startpos.target;
        var endelem = endpos.target;
        var startx = $(startelem).position().left;
        var starty = $(startelem).position().top;
        var endx = $(endelem).position().left;
        var endy = $(endelem).position().top;
        var elems =  massSelection(startx, endx, starty, endy, ".hour");
        var removeClass = $(startelem).hasClass("selected");
        for(let elem in elems){
            elem = elems[elem];
            console.log(elem)
            if(removeClass){
                $(elem).removeClass("selected")
            }else{
                $(elem).addClass("selected")
            }
            
        }
    }
})
</script>
{% endblock %}