{% extends "main/base.html" %}

{% block content %}
{% if request.user.profile not in event.attendees %}
  <div>
    <button class="button-one join">Join</button>
  </div>
<script>
$(".join").click(function(){
  var header = {
    "csrfmiddlewaretoken" : getCookie("csrftoken"), "data_type" : "joinEvent","event_url" : "{{event.code_name}}"
  }
  var callresult = $.post("{% url 'freeInterface' %}", header, function(){
    location.reload();
  })
})
</script>
{% else %}
<h2 style="width: 100%" align="center">{{event.title}}</h2>
<h3 style="width: 100%" align="center">{{event.length}} hours between {{event.start_date}} and {{event.end_date}}</h3>
<div id="optimal" style="margin-bottom: 10px; background-color: lightpink;">
  <h4>Optimal Times:</h4>
  {% for time in event.getOptimalTimes %}
    <span id="optimalTime">{{time.0}} - {{time.1}}</span>
  {% endfor %}
</div>
<div class="eventHolder">

</div>
<script>
function loadDataIntoTable(start_date, end_date){
    getData("freeInterface", {"data_type" : "getEventProfiles", "event" : "{{event.code_name}}", "start_date" : dateToPython(start_date), "end_date" : dateToPython(end_date)}).then(function(data){
        data = JSON.parse(data)
        $(".hour").removeClass("selected");
        var max = 0;
        for(let i = 0; i < data.length; i ++){
          if(data[i].length > max){
            max = data[i].length;
          }
        }
        if(max == 0){
          return;
        }
        for(let i = 0; i < data.length; i++){
            if(data[i].length > 0){
                $("#" + String(i) + ".hour").addClass("selected");
                $("#"+ String(i) + ".hour")[0].setAttribute("style", "opacity:" + data[i].length/max + ";")
                title = ""
                for(let person = 0; person < data[i].length; person++){
                  title += data[i][person];
                  if(person != data[i].length - 1){
                    title += "\n"
                  }
                }
                $("#"+ String(i) + ".hour")[0].setAttribute("title", title)
               
            }
        }
    })
}

$('body').on('click', '#backarrow', function() {
    SELECTED_DATE.setDate(SELECTED_DATE.getDate()-1)
    for(var elem of $(".eventHolder").children().toArray()){
      elem.remove()
    }
    createTable(SELECTED_DATE, date_difference, END_DATE, $(".eventHolder")[0], new Date("{{event.start_date_js}}"), new Date("{{event.end_date_js}}"));
    loadDataIntoTable(SELECTED_DATE, END_DATE);
});
$('body').on('click', '#frontarrow', function() {
    SELECTED_DATE.setDate(SELECTED_DATE.getDate()+1)
    for(var elem of $(".eventHolder").children().toArray()){
      elem.remove()
    }
    createTable(SELECTED_DATE, date_difference, END_DATE, $(".eventHolder")[0], new Date("{{event.start_date_js}}"), new Date("{{event.end_date_js}}"));
    loadDataIntoTable(SELECTED_DATE, END_DATE);
});


let SELECTED_DATE = new Date("{{event.start_date_js}}");
let END_DATE = new Date("{{event.end_date_js}}");
var date_difference = Math.ceil(dateDifference(END_DATE, SELECTED_DATE));
createTable(SELECTED_DATE, date_difference, END_DATE, $(".eventHolder")[0], new Date("{{event.start_date_js}}"), new Date("{{event.end_date_js}}"));
loadDataIntoTable(SELECTED_DATE, END_DATE);
</script>
{% endif %}
	
{% endblock %}