{% extends "main/base.html" %}

{% block content %}

<h2 style="width: 100%" align="center">Free Times</h2>
<div class="eventHolder">

</div>
<script>
function loadDataIntoTable(start_date=SELECTED_DATE, end_date=END_DATE){
    getData("freeInterface", {"data_type" : "getFree", "start_date" : dateToPython(start_date), "end_date" : dateToPython(end_date)}).then(function(data){
        data = JSON.parse(data)
        $(".hour").removeClass("selected");
        for(let i = 0; i < data.length; i++){
            if(data[i] == 1){
                $("#" + String(i) + ".hour").addClass("selected");
            }
        }
    })
}
let SELECTED_DATE = datetimeToDate(new Date());
let END_DATE = new Date();
createTable(SELECTED_DATE, 7, END_DATE, $(".eventHolder")[0]), false;
loadDataIntoTable();


let DRAGGING = false;
$(".eventHolder").mousedown(function(data){
    if(!$(data.target).hasClass("hour")){
        return;
    }
    DRAGGING = data;
})

function massSelection(startx, endx, starty, endy, elementQuery){
    if(startx > endx){
        var temp = startx;
        startx = endx;
        endx = temp;
        
    }
    if(starty > endy){
        var temp = starty;
        starty = endy;
        endy = temp;
    }
    var selected = []
    for(var elem of $(elementQuery)){
        let x = $(elem).position().left;
        let y = $(elem).position().top;
        if(startx <= x && x <= endx && starty <= y && y <= endy){
            selected.push(elem);
        }

    }
    return selected;

}

function getFreeArray(){
    var hours = $("div.hour").toArray()
    var results = []
    for(let i = 0; i < hours.length; i++){
        var elem = hours[i];
        if($(elem).hasClass("selected")){
            results.push(1);
        }else{
            results.push(0);
        }
    }
    return results;
}

function postFreedom(freeArray){
    header = {
        "data_type": "setFree",
        "csrfmiddlewaretoken" : getCookie("csrftoken"), "start_date" : dateToPython(SELECTED_DATE), "end_date" : dateToPython(END_DATE), "free_array" : JSON.stringify(freeArray) 
    }
    console.log("Posted freedom array", freeArray)
    var callresult = $.post("{% url 'freeInterface' %}", header, function(data){
})
}

$('body').on('click', '#backarrow', function() {
    SELECTED_DATE.setDate(SELECTED_DATE.getDate()-1)
    for(var elem of $(".eventHolder").children().toArray()){
      elem.remove()
    }
    createTable(SELECTED_DATE, 7, END_DATE, $(".eventHolder")[0], false);
    loadDataIntoTable(SELECTED_DATE, END_DATE);
});
$('body').on('click', '#frontarrow', function() {
    SELECTED_DATE.setDate(SELECTED_DATE.getDate()+1)
    for(var elem of $(".eventHolder").children().toArray()){
      elem.remove()
    }
    createTable(SELECTED_DATE, 7, END_DATE, $(".eventHolder")[0]), false;
    loadDataIntoTable(SELECTED_DATE, END_DATE);
});

$("*").mouseup(function(endpos){
    if(DRAGGING){
        let startpos = DRAGGING;
        DRAGGING = false;
        var startelem = startpos.target;
        var endelem = endpos.target;
        if(! $(endelem).hasClass("hour")){
            return
        }
        var startx = $(startelem).position().left;
        var starty = $(startelem).position().top;
        var endx = $(endelem).position().left;
        var endy = $(endelem).position().top;
        var elems =  massSelection(startx, endx, starty, endy, ".hour");
        var removeClass = $(startelem).hasClass("selected");
        for(let elem in elems){
            elem = elems[elem];
            if(removeClass){
                $(elem).removeClass("selected")
            }else{
                $(elem).addClass("selected")
            }
            
        }
        CACHE = {}
        postFreedom(getFreeArray());
    }
})

</script>
{% endblock %}