{% extends "main/base.html" %}

{% block content %}
<div style="width: 100%; margin-bottom: 20px;" class="text-right">
    <form action="{% url 'create' %}">
        <button class="button-one" type="submit" float: right>Add Event (+)</button>
    </form>
</div>
	{% for E in event %}
        <div id='box'>
            <h2 id='event_title'>{{E.title}} </h2>
            <hr>
            <div id='dates'> {{E.start_date}} - {{E.end_date}} </div>
            <div id='creator'> Creator: {{E.creator}} </div>
            <div id='attendees'>Attendees: {{E.attendeesFormatted}}</div>
            <div id="length">Length {{E.length}} hours</div>
            <a href="{%url 'event' code_name=E.code_name %}" style="color:white">Click for event details</a>
        </div>
    {% endfor %}
{% endblock %}